.cards {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.card {
  margin-left: 20px;
  background-color: rgb(255, 250, 235);
}
.conteiner {
  width: 1100px;
  margin: 20px auto 20px auto;
}
