.isOnline {
  width: 20px;
  height: 20px;
  display: block;
  background-color: rgb(255, 136, 127);
  border-radius: 50%;
  margin-right: 5px;
}

.item {
  display: flex;
  padding: 10px;
  /* border: 2px solid #333; */
  box-shadow: 0 3px 3px #777;
  align-items: center;
}
